body {
    font-family: sans-serif;
    background: rgb(0, 0, 0);
    color: aqua;
    
    button {
        border-radius: 6px;
    }

    .Sentence {
        border-style: solid;
        color: rgb(238, 238, 238);
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        padding: 1%;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1.2;
    }

    .Sharing {
        color: rgb(0, 0, 0);
        text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .twitter {
            background-image: url("./images/tweet_button.png");
            height: 40px;
            width: 100px;
            margin: 5px;
            color: rgba(000, 000, 000, 0);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: rgba(000, 000, 000, 0);
            border: none;
        }
        .imgur {
            border: none;
            color: #000;
            font-size: 18px;
            width: 100px;
            height: 40px;
            padding: 4px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items:center;
            background-color: rgb(54, 190, 116);
            font-weight: 800;
        }
        .imgur, .twitter:hover {
            cursor: pointer;
        }
    }
    
    .New-Sentence {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        height: 12vh;
        .new-button {
            border: none;
            height: 45px;
            color: rgb(21, 105, 201);
            background-color: #555;
            font-size: 24px;
            font-weight: 600;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }:hover {
            color: #555;
            background-color: rgb(15, 67, 126);
            cursor: pointer;
        }
        .new-select {
            background-color: #555;
            border: 1px solid #AAA;
            border-radius: 2px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
            color: #000000;
            font-size: 18px;
            margin: 0;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
    
    .Show-Saved {
        color: rgb(0, 0, 0);
        text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
        display: flex;
        flex-direction: column;
        .imgur {
            background-image: url("./images/imgur_logo.png");  
            background-color: rgb(54, 190, 116);
            height: 40px;
            width: 100px;
        }
        .twitter {
            background-image: url("./images/twitter_logo.png");
            background-color: #eeeded;
            height: 40px;
            width: 100px;
        }
        .imgur, .twitter {
            line-height: 0;
            margin: 5px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
        }
        .imgur:hover, .twitter:hover {
            cursor: pointer;
        }
    }
}

.basesetup {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    .Sharing {
        position: absolute;
        top: 70vh;
        left: 5vw;
    }
    .New-Sentence {
        position: absolute;
        top: 78vh;
        left: 40vw;
    }
    .Show-Saved {
        position: absolute;
        top: 70vh;
        left: 85vw;
    }
}

.frankenstein {
    @extend .basesetup;
    background-image: url(../static/images/frankenstien_bg.jpg);
    .Sentence {
        width: 57%;
        margin-left: 5%;
        margin-top: 2%;
    }
}

.modestproposal {
    @extend .basesetup;
    background-image: url(../static/images/modestproposal_bg.jpeg);
    .Sentence {
        width: 30%;
        margin-left: 65%;
        margin-top: 8%;
    }
}

.prideprejudice {
    @extend .basesetup;
    background-image: url(../static/images/prideprejudice_bg.jpg);
    .Sentence {
        width: 35%;
        margin-left: 22%;
        margin-top: 15%;
    }
    .Show-Saved, .Sharing {
        top: 75vh;
    }
}

.secretgarden {
    @extend .basesetup;
    background-image: url(../static/images/secretgarden_bg.jpg);
    .Sentence {
        width: 35%;
        margin-left: 8%;
        margin-top: 20%;
    }
}

.huckleberryfinn {
    @extend .basesetup;
    background-image: url(../static/images/hucckleberryfinn_bg.jpg);
    .Sentence {
        width: 20%;
        margin-left: 34%;
        margin-top: 20%;
    }
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
