<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>tweet-gen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>{{test}}</h1>
    <!-- <button onclick="location.href = '/save'"> Save Sentence </button> -->
    <form action="/" method="post" id="saveSent">
        val: <input type="text" name="sentence" value="{{test}}" hidden=true>
    </form>
    <button type="submit" value="Submit" class="btn-link" form="saveSent"> Save Sentence </button>
    <button onclick="location.reload()"> New Sentence </button>

    <script src="../static/scripts.js"></script>
</body>
</html>